/* Demo styles. */
.container {
    width: 80%;
    margin: auto;    
}

/* Raster grid. */
r-grid {
    grid-gap: 1rem;
}

r-cell {
    background-color: #353847;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    padding: 1rem;
    margin: .5rem 0;
}